@{
    ViewBag.Title = "Error Handling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your review.</h2>
        <p>Sorry, but you may only post one review per book.</p>
        <p><a href="javascript:history.go(-2)">Click here</a> if you'd like to go back and try again.</p>
    </hgroup>
</body>
</html>
