@using GeekBooks.Models;


@model IEnumerable<Review>

@{
    ViewBag.Title = "Reviews List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Reviews</h2>

@{
    foreach (Review review in @Model)
    {
<table>
    <tr>
        <td>@review.rating</td>
        <td>@review.comment</td>
    </tr>
</table>
    }
}

