@model IEnumerable<GeekBooks.Review>


@{
    ViewBag.Title = "Reviews List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reviews</h2>
@{
    foreach (var item in Model)
    {
        <table>
            <tr>
                <td>@item.Username</td>
                <td>@item.ISBN</td>
                <td>@item.Rating</td>
                <td>@item.Comment</td>
            </tr>
        </table>
    }
}
