@model GeekBooks.ShoppingCart


    <div class="ajaxcart" style="color:gold;">
        Your Shopping Cart: @Model.Quantity item(s) - $@Model.PriceEach
        <br />
        @*@Html.ActionLink("Checkout", "ShoppingCartDetail","Account")*@
        @Html.ActionLink("Checkout", "ShoppingCartDetail", "Account")
    </div>


