@model GeekBooks.ViewModels.Cart.CartVM


<div class="ajaxcart" style="color:gold;">
    Your Shopping Cart: @Model.Quantity item(s) - $@Model.Price
    <br />
    @Html.ActionLink("Checkout", "Index")
</div>


