<!--To Do: Add Post method for book reviews -->

<br />

<!--@Html.ActionLink("Create", "CreateReview", "Review", new { @class = "btn btn-primary" })-->
<form action="~/Review/CreateReview">
    <button type="submit" class="btn btn-primary">Create a Review</button>
</form>

<br />
    <button type="button" style="text-align: center;" onclick="displayReview()">Display Reviews</button>
<br />
<br />

<style>
    .checked{
        color: orange;
    }
</style>

<div id="rev" style="display: none">
    <label>Review</label>
    <span class="glyphicon glyphicon-star checked"></span>
    <span class="glyphicon glyphicon-star checked"></span>
    <span class="glyphicon glyphicon-star checked"></span>
    <span class="glyphicon glyphicon-star checked"></span>
    <span class="glyphicon glyphicon-star"></span>
    <br />
    <textarea></textarea>
</div>

<script>
    function displayReview() {
        var x = document.getElementById("rev");
        if (x.style.display == "none") {
            x.style.display = "block";
        }
        else {
            x.style.display = "none";
        }
    }
</script>
<br />
