@model IEnumerable<GeekBooks.Models.Book>

@using GeekBooks.Models;

@{
    ViewBag.Title = "Books Browser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Browse our books</h2>

<a href="~/Book/Details/1">
<img src="~/Content/Books/sorcerersstone.jpg" alt="sorcerersstone" style="width:256px;height:256px;" />
</a>
<ng-view />
<a href="~/Book/Details/2">
<img src="~/Content/Books/ChamberOfSecrets.jpg" alt="ChamberOfSecrets" style="width:256px;height:256px;" />
</a>
<!--<ul>
    @*
    @foreach (Book book in @Model)
    {
        @Html.ActionLink(book.Name, "Details", new { id = book.Id })
    }
        *@
</ul>
-->
