@model GeekBooks.ShoppingCart

<div class="ajaxcart" style="color:white;">
    Your Shopping Cart: @Model.Quantity item(s) - $Model.Price 
    <br />
    @Html.ActionLink("Checkout", "Index")
</div>          