@model IEnumerable<GeekBooks.Wishlist>
@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
@if (!Model.Any())
{
    <p>This account does not have any wish lists</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Wish Lists</th>
            </tr>
        </thead>
        <tbody>


            @{ var count = 0;

                foreach (var wishlist in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(wishlist.WishlistName, "WishListDetail", "Account", new { wishlistName = wishlist.WishlistName, username = wishlist.Username }, null)</td>
                    </tr>
                    count++;
                }
            }

        </tbody>
    </table>
    if (count < 4)
    {
        <button type="submit" class="btn btn-secondary">@Html.ActionLink("Add New Wishlist", "AddWishlist", "Account", new { id = "guest" }, null)</button>
    }
    else
    {
        <button type="submit" class="btn btn-secondar disabled">Add New Wishlist</button>
        <hr />
        <p>Limit of three wishlists has been reached.</p>
    }
}

