@model GeekBooks.ViewModels.WishlistWishlistBook
@{
    ViewBag.Title = "WishListDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.wishlistName</h2>
<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model.wishlistBooks)
        {
            <tr>
                <td>@book.Book.Title</td>
                <td>@book.Quantity</td>
            </tr>
        }
    </tbody>
</table>
<hr/>
@Html.ActionLink("Back To Wishlits", "Wishlist", "Account", null, new { @class = "btn btn-primary btn-small" })